{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'expensetracker/accounts_page.css' %}">
        <link rel="stylesheet" href="{% static 'expensetracker/homepage.css' %}">
        <title>Accounts</title>
    </head>
    <body>
        <div id="main-navigation-container">
            <div></div>
            <div class="navigation-menu-container">
                <div class="navigation-link-container">
                    <a class="navigation-link" href="{% url 'expensetracker_homepage' %}">Categories</a>
                </div>
                <div class="navigation-link-container">
                    <a class="navigation-link" href="{% url 'expensetracker_accounts-page' %}">Accounts</a>
                </div>
                <div class="navigation-link-container">
                    <a class="navigation-link" href="">Transactions</a>
                </div>
            </div>

            <div class="logout-menu-container">
                <a class="navigation-link" href="{% url 'users_user-logout' %}">Logout</a>
            </div>
        </div>
        
        <h2>Accounts:</h2>
        <div class="account-container-outer">

            {% for account in accounts %}

            <div class="account-container-inner">

                <div class="account-data-container">

                    <div class="account-icon-container">
                        <img class="account-icon" src="{% static 'svg/account-icon.svg' %}" alt="Example account image">
                    </div>

                    <div class="account-name">
                            {{ account.name }}  
                    </div>

                </div>

                <div class="account-balance-container">
                    {{ account.balance }} {{ account.currency.code }}
                </div>

            </div>

            {% endfor %}

        </div>
    

    </body>
</html>