{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'expensetracker/category_page.css' %}">
        <link rel="stylesheet" href="{% static 'expensetracker/homepage.css' %}">
        <title>Expense Tracker</title>
    </head>
    <body>
        <div id="main-navigation-container">
            <div></div>
            <div class="navigation-menu-container">
                <div class="navigation-link-container">
                    <a class="navigation-link" href="{% url 'expensetracker_homepage' %}">Categories</a>
               </div>
               <div class="navigation-link-container">
                  <a class="navigation-link" href="{% url 'expensetracker_accounts-page' %}">Accounts</a>
               </div>
               <div class="navigation-link-container">
                  <a class="navigation-link" href="{% url 'expensetracker_transactions-page' %}">Transactions</a>
               </div>
            </div>

            <div class="logout-menu-container">
                <a class="navigation-link" href="{% url 'users_user-logout' %}">Logout</a>
            </div>
        </div>

        This is a page for {{ category.name }} category. Total: {{ category.total }}.
        <form action="{% url 'expensetracker_category-page' category.id %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="signup-form-field">
                <p>
                    {% if field.errors %}
                        <ul class="signup-error-list">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ field.label_tag }} {{ field }}
                </p>
            </div> 
            {% endfor %}
            <input type="submit" value="Add">
        </form>

        <hr>

        <h2>Transactions:</h2>
        <div class="category-transactions-container-outer">

            {% for transaction in transactions %}

            <a href="{% url 'expensetracker_transaction-edit-page' transaction.id %}">
            <div class="category-transaction-container-inner">

                <div class="transaction-data-container">

                    <div class="transaction-category-icon">
                        <img class="category-icon" src="{% static 'svg/bus-front.svg' %}" alt="Example category image">
                    </div>

                    <div class="transaction-category-account">

                        <div class="transaction-category-name">
                            {{ category.name }}
                        </div>

                        <div class="transaction-account-name">
                            {{ transaction.account.name }}
                        </div>

                        <div class="transaction-description">
                            {{ transaction.description }}
                        </div>

                    </div>

                </div>

                <div class="transaction-amount-container">
                    {{ transaction.amount }} {{ transaction.currency.code }}
                </div>

            </div>
            </a>

            {% endfor %}

        </div>


    </body>
</html>