{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'expensetracker/category_page.css' %}">
        <link rel="stylesheet" href="{% static 'expensetracker/homepage.css' %}">
        <title>Transactions</title>
    </head>
    <body>
        <div id="main-navigation-container">
            <div></div>
            <div class="navigation-menu-container">
                <div class="navigation-link-container">
                    <a class="navigation-link" href="{% url 'expensetracker_homepage' %}">Categories</a>
                </div>
                <div class="navigation-link-container">
                    <a class="navigation-link" href="{% url 'expensetracker_accounts-page' %}">Accounts</a>
                </div>
                <div class="navigation-link-container">
                    <a class="navigation-link" href="{% url 'expensetracker_transactions-page' %}">Transactions</a>
                </div>
            </div>

            <div class="logout-menu-container">
                <a class="navigation-link" href="{% url 'users_user-logout' %}">Logout</a>
            </div>
        </div>
        
        <h2>Transactions:</h2>
        <div class="category-transactions-container-outer">

            {% for d, t_list in date_transactions.items %}
                <h3>{{ d.0 }}, {{ d.1 }} {{ d.2 }}, {{ d.3 }}</h3>
                {% for transaction in t_list %}
                    <a href="{% url 'expensetracker_transaction-edit-page' transaction.id %}">
                        <div class="category-transaction-container-inner">
            
                            <div class="transaction-data-container">
            
                                <div class="transaction-category-icon">
                                    <img class="category-icon" src="{% static 'svg/bus-front.svg' %}" alt="Example category image">
                                </div>
            
                                <div class="transaction-category-account">
            
                                    <div class="transaction-category-name">
                                        {{ category.name }}
                                    </div>
            
                                    <div class="transaction-account-name">
                                        {{ transaction.account.name }}
                                    </div>
            
                                    <div class="transaction-description">
                                        {{ transaction.description }}
                                    </div>
            
                                </div>
            
                            </div>
            
                            <div class="transaction-amount-container">
                                {{ transaction.amount }} {{ transaction.currency.code }}
                            </div>
            
                        </div>
                    </a>
                {% endfor %}
            {% endfor %}
            
        </div>
    

    </body>
</html>